.container
  
  .columns(style="padding-left: 12em; padding-right: 12em;")
    each post in page.posts.toArray()
      .column.is-3
        .card
          if post.img
            .card-image.center
              figure.image.is-1by1
                img(src='/images/sticker-icon/' + post.img)
          .card-content
            p!= post.title
            p ¥ !{post.price || 6.9}
          .card-footer
            .card-footer-item
              a(href=post.license_from, target="_blank").has-text-grey-dark !{post.license || 'LICENSE'}
            //- .card-footer-item
            //-   a(href=post.buy_link, target="_blank") 购买地址